<script type="text/javascript">
    function analysis() {
        var analysisWord = $("#analysisWord").val();
        var simple = analysisWord.length > 10 ? analysisWord.substr(0, 10)+"......" : analysisWord;
        swal({
            title: '在线分词',
            text: '确认对'+simple+'进行分词吗？',
            showCancelButton: true,
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            showLoaderOnConfirm: true,
            confirmButtonClass: 'btn btn-success',
            cancelButtonClass: 'btn btn-danger m-l-10',
            preConfirm: function () {
                return new Promise(function (resolve, reject) {
                    $.get('/lexicon/analysis', {words: analysisWord}, function(words,status,xhr){
                        if(status == 'success') {
                            var content = "";
                            var length = words.length-1;
                            $(words).each(function (index, word) {
                                content += word;
                                if(index < length) {
                                    content += ", ";
                                }
                            });
                            $("#analysisResult").html(content);
                            resolve();
                        }
                        if(status == 'error') {
                            swal(
                                '系统错误',
                                '分词失败，请稍候重试！',
                                'error'
                            );
                        }
                    })
                })
            },
            allowOutsideClick: false
        }).then(function () {
            swal({
                type: 'success',
                title: '分词完成'
            })
        });
    }
</script>
<div class="row">
    <div class="col-12">
        <div class="p-20">
            <form class="form-horizontal" role="form">
                <div class="form-group row">
                    <label class="col-1 col-form-label">分词短语</label>
                    <div class="col-11">
                        <input id="analysisWord" type="text" class="form-control" placeholder="请输入分词内容">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-1 col-form-label"></label>
                    <div class="col-11">
                        <button onclick="analysis()" type="button" class="btn btn-light waves-effect waves-light btn-sm" id="ajax-alert">
                            提交
                        </button>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-1 col-form-label">分词结果</label>
                    <div class="col-11">
                        <textarea id="analysisResult" class="form-control" rows="5" style="height: 400px;"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>