<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>主词库</b></h4>
            <p class="text-muted font-14 m-b-30">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;词库是词语资料的集合，存贮于数据库中以备特定的程序检索调用。
            </p>
            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>类型</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function() {
        var table = $('#datatable-buttons').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf'],
            processing: true,
            searching: true,
            serverSide: true,
            ordering: false,
            pagingType: "full_numbers",
            columns: [
                {"data": "id"},
                {"data": "name"},
                {"data": "discriminator"}
            ],
            ajax: {
                "url": "lexicon/findPageLexicons",
                "data": function (params) {
                    var info = $('#datatable-buttons').DataTable().page.info();
                    params.pageNum = info.page+1;
                    params.pageSize = info.length;
                    params.key = "main_lexicons";
                    params.search = $('#searchforme').val() || "";
                }
            }
        });

        $("#datatable-buttons_filter").css("display","none");

        $("#datatable-buttons_filter").parent().append('<div class="input-group pull-right"><input id="searchforme" type="text" class="form-control" placeholder="Search for..."><button id="clearsearchinput" type="button" class="btn btn-round btn-xs" style="position:absolute; top:6px;right:42px; z-index:99;display:none;background-color:transparent;"><i class="fa fa-close"></i></button><span class="input-group-btn"><button id="go" class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span></div>');

        $(document).on( 'click','#go', function () {
            table.search($('#searchforme').val()).draw();
        });

        $(document).on('keyup','#searchforme', function() {
            if($(this).val().length > 0){
                $('#clearsearchinput').css('display','block');
            }else{
                $('#clearsearchinput').css('display','none');
            }
            $(document).on('click','#clearsearchinput', function () {
                $('#searchforme').val('');
                $(this).css('display','none');
                table.search('').draw();
            });
        });
    });

</script>