<div class="row">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="p-20">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">用&nbsp;&nbsp;户&nbsp;&nbsp;名</label>
                            <div class="col-10">
                                <input id="name" type="text" class="form-control" value="">
                                <!--<p id="name" class="form-control-static"></p>-->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">原&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
                            <div class="col-10">
                                <input id="oldPassword" type="password" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">新&nbsp;&nbsp;密&nbsp;&nbsp;码</label>
                            <div class="col-10">
                                <input id="newPassword" type="password" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">确认密码</label>
                            <div class="col-10">
                                <input id="repeatNewPassword" type="password" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">密码复杂度</label>
                            <div class="col-10">
                                <div id="process" class="progress-bar bg-warning" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-1">
                                <button onclick="updateUser()" type="button" class="btn btn-success btn-rounded waves-light waves-effect w-md">提交</button>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-1">
                                <button onclick="gotoPage('user/tablePage', '用户列表')" type="button" class="btn btn-danger btn-rounded waves-light waves-effect w-md">取消</button>
                            </div>
                            <div class="col-5"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>

<script th:src="@{/plugins/encrypt/jsencrypt.min.js}" src="../../static/plugins/encrypt/jsencrypt.min.js"></script>

<script th:inline="javascript">
    var publicKey;

    function getProcess(){
        var password = $('#newPassword').val();
        if(password.length < 4){
            return 0;
        }
        var ls = 0;
        if (password.match(/[a-z]/ig)){
            ls++;
        }
        if (password.match(/[0-9]/ig)){
            ls++;
        }
        if (password.match(/(.[^a-z0-9])/ig)){
            ls++;
        }
        if (password.length < 6 && ls > 0){
            ls--;
        }
        if (password.length > 10){
            ls++;
        }
        var val = ls*25;
        var process = $('#process');
        process.css('width', val+'%');
        process.attr('aria-valuenow', val);
        process.html(val+'%');
        return val;
    }

    function getUserById() {
        $.ajax({
            url : 'user/findOne',
            type : 'get',
            data: {
                id: [[${id}]]
            },
            dataType: 'json',
            success : function(user) {
                $('#name').val(user.name);
            },
            error : function() {
                swal('系统错误', '获取用户失败，请稍候重试！', 'error');
            }
        });
    }
    
    function encryptPassword(password) {
        var encrypt = new JSEncrypt();
        encrypt.setPublicKey(publicKey);
        return encrypt.encrypt(password);
    }

    function updateUser() {
        // setProcess(oldPassword);
        var oldPassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();
        var repeatNewPassword = $('#repeatNewPassword').val();
        if(newPassword !== repeatNewPassword) {
            swal('系统错误', '两次密码输入不一致！', 'error');
        }else if(getProcess() < 50) {
            swal('系统错误', '密码过于简单！请重新输入', 'error');
        }else {
            var id = [[${id}]];
            $.ajax({
                url : 'user/checkOldPassword',
                type : 'post',
                data: {
                    id: id,
                    password: encryptPassword(oldPassword)
                },
                dataType: 'json',
                success : function(result) {
                    if(result.status) {
                        doUpdate(id, newPassword);
                    }else {
                        swal('系统错误', '原密码输入错误！', 'error');
                    }
                },
                error : function() {
                    swal('系统错误', '更新密码失败，请稍候重试！', 'error');
                }
            });
        }
    }

    function doUpdate(id, newPassword) {
        $.ajax({
            url : 'user/updatePassword',
            type : 'post',
            data: {
                id: id,
                password: encryptPassword(newPassword)
            },
            dataType: 'json',
            success : function(result) {
                if(result.status) {
                    swal('系统提示', '密码设置成功！', 'success');
                    setTimeout(gotoPage('user/tablePage', '用户列表'), 20);
                }else {
                    swal('系统提示', '原密码输入错误！', 'error');
                }
            },
            error : function() {
                swal('系统提示', '更新密码失败，请稍候重试！', 'error');
            }
        });
    }

    function getPublicKey() {
        $.ajax({
            url : 'user/getPublicKey',
            type : 'get',
            dataType: 'json',
            success : function(result) {
                if(result.status) {
                    publicKey = result.data;
                }else {
                    swal('系统提示', '获取公钥失败！', 'error');
                }
            },
            error : function() {
                swal('系统提示', '获取公钥失败，请稍候重试！', 'error');
            }
        });
    }

    $(document).ready(function () {
        getUserById();
        getPublicKey();
        $("#newPassword").keyup(function () {
            getProcess();
        })
    });
</script>