<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>工作作息时间列表</b></h4>
            <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>上午上班时间</th>
                    <th>上午下班时间</th>
                    <th>下午上班时间</th>
                    <th>下午下班时间</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script th:src="@{/js/standardworkdatetime/table.js}" src="../../static/js/standardworkdatetime/table.js"></script>
