<div th:fragment="home_content()">
    <div class="row">
        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box tilebox-one">
                <i class="fi-box float-right"></i>
                <h6 class="text-muted text-uppercase mb-3">主词库</h6>
                <h4 class="mb-3" data-plugin="counterup" th:text="${main_lexicons}">0</h4>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box tilebox-one">
                <i class="fi-layers float-right"></i>
                <h6 class="text-muted text-uppercase mb-3">扩展词库</h6>
                <h4 class="mb-3" data-plugin="counterup" th:text="${ext_lexicons}">0</h4>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box tilebox-one">
                <i class="fi-tag float-right"></i>
                <h6 class="text-muted text-uppercase mb-3">量词库</h6>
                <h4 class="mb-3" data-plugin="counterup" th:text="${quantifier_lexicons}">0</h4>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card-box tilebox-one">
                <i class="fi-briefcase float-right"></i>
                <h6 class="text-muted text-uppercase mb-3">停用词库</h6>
                <h4 class="mb-3" data-plugin="counterup" th:text="${stop_lexicons}">0</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <div id='calendar' style="margin: 10px auto 50px auto; padding: 0 10px;"></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card-box">
                <h4 class="m-t-0 header-title"><b>待办事项列表</b></h4>
                <table id="datatable-buttons" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>标题</th>
                        <th>预计开始日期</th>
                        <th>预计完成日期</th>
                        <th>状态</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>