<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
    <head>
        <meta charset="utf-8" />
        <title>搜索服务</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App css -->
        <link th:href="@{css/bootstrap.min.css}" href="../static/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/icons.css}" href="../static/css/icons.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/metismenu.min.css}" href="../static/css/metismenu.min.css" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/style.css}" href="../static/css/style.css" rel="stylesheet" type="text/css" />

        <script th:src="@{/js/modernizr.min.js}" src="../static/js/modernizr.min.js"></script>

    </head>


    <body class="bg-accpunt-pages">

        <!-- HOME -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">

                        <div class="wrapper-page">

                            <div class="account-pages">
                                <div class="account-box">
                                    <div class="account-logo-box">
                                        <h2 class="text-uppercase text-center">
                                            <a href="index.html" class="text-success">
                                                <span><img th:src="@{/images/logo_dark.png}" src="../static/images/logo_dark.png" alt="" height="18"></span>
                                            </a>
                                        </h2>
                                        <h6 class="text-uppercase text-center font-bold mt-4">Sign In</h6>
                                    </div>
                                    <div class="account-content">
                                        <form class="form-horizontal" action="#">

                                            <div class="form-group m-b-20 row">
                                                <div class="col-12">
                                                    <label for="emailaddress">Email address</label>
                                                    <input class="form-control" type="email" id="emailaddress" required="" placeholder="Enter your email">
                                                </div>
                                            </div>

                                            <div class="form-group row m-b-20">
                                                <div class="col-12">
                                                    <a href="page-recoverpw.html" class="text-muted pull-right"><small>Forgot your password?</small></a>
                                                    <label for="password">Password</label>
                                                    <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                                                </div>
                                            </div>

                                            <div class="form-group row m-b-20">
                                                <div class="col-12">

                                                    <div class="checkbox checkbox-success">
                                                        <input id="remember" type="checkbox" checked="">
                                                        <label for="remember">
                                                            Remember me
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="form-group row text-center m-t-10">
                                                <div class="col-12">
                                                    <button class="btn btn-block btn-gradient waves-effect waves-light" type="submit">Sign In</button>
                                                </div>
                                            </div>

                                        </form>

                                        <div class="row m-t-50">
                                            <div class="col-sm-12 text-center">
                                                <p class="text-muted">Don't have an account? <a href="page-register.html" class="text-dark m-l-5"><b>Sign Up</b></a></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- end card-box-->


                        </div>
                        <!-- end wrapper -->

                    </div>
                </div>
            </div>
        </section>
        <!-- END HOME -->

        <!-- jQuery  -->
        <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
        <script th:src="@{/js/popper.min.js}" src="../static/js/popper.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
        <script th:src="@{/js/metisMenu.min.js}" src="../static/js/metisMenu.min.js"></script>
        <script th:src="@{/js/waves.js}" src="../static/js/waves.js"></script>
        <script th:src="@{/js/jquery.slimscroll.js}" src="../static/js/jquery.slimscroll.js"></script>


        <!-- App js -->
        <script th:src="@{/js/jquery.core.js}" src="../static/js/jquery.core.js"></script>
        <script th:src="@{/js/jquery.app.js}" src="../static/js/jquery.app.js"></script>

    </body>
</html>