<script type="text/javascript">
    function translate(outputId, country, words) {
        $.ajax({
            url: "tool/translate"+country,
            data: {
                words: words
            },
            type:"get",
            success: function(result) {
                result = JSON.parse(result);
                var trans = result.sentences[0].trans;
                $(outputId).html(trans);
            },
            error: function (data) {
                console.log(data);
            }
        });
    }

    $(document).ready(function () {
        $(document).on('keyup','#input_zh', function() {
            var words = $(this).val();
            if(words.length > 0){
                translate("#result_en", "EN", words);
            }else {
                $("#result_en").html("");
            }
        });

        $(document).on('keyup','#input_en', function() {
            var words = $(this).val();
            if(words.length > 0){
                translate("#result_zh", "ZH", words);
            }else {
                $("#result_zh").html("");
            }
        });
    });
</script>
<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <textarea id="input_zh" class="form-control" rows="5" placeholder="请输入汉语" style="height: 200px"></textarea>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card-box">
            <textarea id="result_en" class="form-control" rows="5" placeholder="翻译结果" style="height: 200px"></textarea>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <textarea id="input_en" class="form-control" rows="5" placeholder="请输入英语" style="height: 200px"></textarea>
        </div>

    </div>
    <div class="col-lg-6">
        <div class="card-box">
            <textarea id="result_zh" class="form-control" rows="5" placeholder="翻译结果" style="height: 200px"></textarea>
        </div>

    </div>
</div>