<div class="row" th:fragment="todo_form(func)">
    <div class="col-12">
        <div class="card-box">
            <div class="row">
                <div class="col-12">
                    <div class="p-20">
                        <div class="form-group row">
                            <label class="col-2 col-form-label">标题</label>
                            <div class="col-10">
                                <textarea id="todo_title" name="area"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">状态</label>
                            <div class="col-10">
                                <select id="todo_status" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">预计开始日期</label>
                            <div class="col-10">
                                <input id="expectedStartDate" type="text" class="datepicker form-control" placeholder="请选择开始日期">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">预计完成日期</label>
                            <div class="col-10">
                                <input id="expectedEndDate" type="text" class="datepicker form-control" placeholder="请选择完成日期">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-2 col-form-label">所属项目</label>
                            <div class="col-10">
                                <select id="projectId" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-4"></div>
                            <div class="col-1">
                                <button th:if=" ${func} eq 'add'" onclick="addTodo()" type="button" class="btn btn-success btn-rounded waves-light waves-effect w-md">提交</button>
                                <button th:if=" ${func} eq 'update'" onclick="updateTodo()" type="button" class="btn btn-success btn-rounded waves-light waves-effect w-md">提交</button>
                            </div>
                            <div class="col-1"></div>
                            <div class="col-1">
                                <button onclick="gotoPage('todo/tablePage', '待办事项列表')" type="button" class="btn btn-danger btn-rounded waves-light waves-effect w-md">取消</button>
                            </div>
                            <div class="col-5"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- end row -->

        </div> <!-- end card-box -->
    </div><!-- end col -->
</div>